.button {
  display: inline-block;
  border: none;
  padding: 1em 2em;
  text-decoration: none;
  background: #35a800;
  color: #ffffff;
  font-size: 1em;
  line-height: 1em;
  cursor: pointer;
  text-align: center;
  transition: background 250ms ease-in-out, transform 150ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.button.full-width {
  width: 100%;
}


.button.filled {
  background: #35a700a8;
  color: #ffffff;
}

.button.subtle {
  background: transparent;
  color: #ffffff;
}

// .button:hover {
//   background: #288000;
//   color: #ffffff;
//   .button.subtle {
//     background: transparent;
//   }
// }