.toxen-player-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;

  container-type: size;
}

.toxen-player {
  position: relative;
  user-select: none;
  width: 100cqw;
  height: 100cqh;
}

.toxen-player-video {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: contain;
  z-index: 0;
}

.toxen-player-no-track {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 1.5em;
  text-shadow: 0px 0px 10px black;
  background-color: rgba(0, 0, 0, 0.5);
}

.toxen-player-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 1.5em;
  text-shadow: 0px 0px 10px black;
  background-color: rgba(0, 0, 0, 0.5);
}

.toxen-player-background {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;

  .toxen-player-background-img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.toxen-player-background-overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100cqw;
  height: 100cqh;
  z-index: 0;
}

.toxen-player-bottomsection {
  position: absolute;
  bottom: 0;
  width: 100cqw;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.5em;
  box-sizing: border-box;
  background: rgba(0, 0, 0, 0.5);
  color: white;
}

.toxen-player-controls {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  // padding: 0.5em;
  color: white;
}

.toxen-player-progress-bar {
  position: relative;
  width: 100cqw;
  height: 5px;
  z-index: 2;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 1em 0;
}

.toxen-player-volume-slider {
  position: relative;
  width: 100cqw;
  height: 5px;
  z-index: 2;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.toxen-player-audio-visualizer {
  position: relative;
  .toxen-player-audio-visualizer-canvas {
    width: 100cqw;
    height: 100cqh;
  }
}

@container (max-width: 768px) {
  .toxen-player {
    width: 100cqw;
    height: 50cqh;
  }

  .toxen-player-background-overlay {
    width: 100cqw;
    height: 50cqh;
  }

  .toxen-player-audio-visualizer {
    .toxen-player-audio-visualizer-canvas {
      width: 100cqw;
      height: 50cqh;
    }
  }
}