.toxen-primary-panel {
  position: absolute;
  top: 0;
  left: 0;
  height: 100cqh;
  z-index: 10;

  transition: opacity 0.5s ease-in-out;

  .toxen-primary-panel-tabs-list__close-button {
    transition: all 0.5s ease-out;
    transform: rotate(135deg);
    color: transparentize(rgb(0, 237, 0), 0.5);
    background-color: transparentize(green, 0.5);
    border-radius: 50%;
  }
  
  &.toxen-primary-panel--open {
    .toxen-primary-panel-tabs-list__close-button {
      transform: rotate(0deg);
      color: transparentize(rgb(255, 0, 0), 0.5);
      background-color: transparentize(rgb(172, 0, 0), 0.75);
    }
  }
}

.toxen-primary-panel-tabs-content {
  transition: 0.5s;
  max-width: 0cqw;
  height: 100cqh;
  overflow-y: auto;
}

.toxen-primary-panel-tabs-content.toxen-primary-panel-tabs-content--active {
  max-width: 100cqw;
}

@container (max-width: 768px) {
  .toxen-primary-panel {
    position: relative;
    width: 100cqw;
    height: 50cqh;
    top: 0;
    left: 0;
    z-index: 10;
  }

  .toxen-primary-panel-tabs-content {
    max-width: 100cqw;
    width: 100cqw;
    height: calc(50cqh - 53px);
  }
}